# Usage: pip install -r requirements.txt

fastapi==0.73.0
uvicorn==0.15.0
image==1.5.33
numpy~=1.22.0
tensorflow~=2.8.0
pandas~=1.4.2
scikit-learn~=1.1.0
opencv-python~=4.5.5.64
matplotlib>=3.2.2
selenium~=4.3.0
bs4~=0.0.1
python-multipart~=0.0.5
uuid~=1.30
sqlmodel~=0.0.6

# YOLOv5 requirements

# Base ----------------------------------------
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
torch>=1.7.0
torchvision>=0.8.1
tqdm>=4.64.0
protobuf<=3.20.1  # https://github.com/ultralytics/yolov5/issues/8012

# Logging -------------------------------------
tensorboard>=2.4.1
# wandb

# Plotting ------------------------------------
seaborn>=0.11.0

# Extras --------------------------------------
ipython  # interactive notebook
psutil  # system utilization
thop>=0.1.1  # FLOPs computation
